@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    background-color: rgb(30, 30, 30)/* #faf6f6 */;
}
#responseText{
    width: 76%;
    margin-left: 24%;
    text-wrap: wrap;
   margin-bottom: 140px;
}
.response{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.endconvo{
    width: 100%;
    height: 3px;
    background-color: lightgrey;
}
li,ul,ol{
    list-style: none;
    margin-top: -10px;
    text-wrap: wrap;
    font-size: 15px;
}
p{
    margin: 0;
    line-height: 20px;
    text-wrap: wrap;
    width: 100%;
    font-size: 15px;
}

h1:not(.preSubmit h1), h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-wrap: wrap;
    font-size: 18px;
}
.question{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
    text-align: left;
    text-wrap: wrap;
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: justify;
    box-shadow: 2px 2px 2px rgb(89, 146, 245);   
    border-radius: 10px;
}
code{
    text-wrap: wrap;
    font-size: 15px;
    background-color: rgb(89, 146, 245);
}
a{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
    padding: 2px;
}
form{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(30, 30, 30);

}
form textarea{
    width: 55%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    resize: none;
    border-radius: 20px;
    outline: none;
    background-color: white;
    font-size: 16px;
    font-weight: 200;
}
.response:last-child {
    margin-bottom: 150px;
}
.question:last-child {
    margin-bottom: 150px;
}
form button{
    position: absolute;
    margin-top:20px;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    bottom: 30px;
    color: white;
    left: 73%;
}
.preSubmit{
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    gap: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.preSubmitImgaes{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.preSubmitImages img{
    width: 55px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.loader img{
    width: 50px;
    margin: 0;
}
.loader{
    display: flex;
    color: white;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media (min-width:300px) and (max-width: 768px){
    form textarea{
        width: 97%;
        font-weight: bolder;
        font-size: 15px;
        letter-spacing: 1px;
        border-radius: 10px;
        word-spacing: -5px;
    }
    form button{
        right: 7%;
        font-size: 20px;
        padding: 3px;
    }
    .preSubmitImages img{
        width: 40px;
    }
    .preSubmit{
        font-size: 15px;
    }
    .question{
        width: fit-content;
        margin-left: 2%;
        text-align: left;
        word-spacing: -2.6px;
        background-color: white;
        color: black;
    }
    .response{
        margin-left: 2%;
        width: 96%;
        background-color: black;
        color: white;
        text-align: left;
    }
    #responseText{
        width: 100%;
        margin-left: 0;
    }
    a{
        text-decoration: none;
        color: black;
        background-color: lightgray;
        border-radius: 3px;
        padding: 2px;
    }
    code{
        background-color: rgb(89, 146, 245);
    }
}